/* Home.html */
html, body{
    height: 100%;
    margin: 0;
    background-color: #84b4e4;
    font-family: 'Dosis', sans-serif;
    color: #000a39;
}

.header {
    width: 2250px; /* Image map width */
    height: 10vh;
    background-color: #84b4e4;
    position: sticky;
    top: 0;
}
.header-right {
  float: right;
}
.header-left {
    padding-left: 15px;
    float: left;
}
h1{
    display: flex;
    position: fixed;
}
h1 span {
    display: inline-block;
}


/*
#e4d984
#cc84e4
#e4849c
#e4c184
#9c84e4
*/