/* Home.html */
html, body{
    height: 100%;
    margin: 0;
    background-color: #f4f2ea; /*#84b4e4;*/
    font-family: 'Dosis', sans-serif;
    color: #000a39;
}

.header {
    width: 2250px; /* Image map width */
    height: 10vh;
    background-color: #f4f2ea;
    position: sticky;
    top: 0;
}
.header-right {
    float: right;
}
.header-left {
    padding-left: 15px;
    float: left;
}
.logo{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
}
h1{
    display: flex;
    position: fixed;
    left: 7vh;
}
.button {
    background-color: #f4f2ea;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    color: #004055;
    border: 2px solid #004055;
    text-align: center;
    text-decoration: none;

    padding: 15px 32px;
    display: inline-flex;
    margin-top: 2vh;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    position: fixed;
    
}

.button:hover {
  background-color: #AA2E00;
  border: 2px solid #AA2E00;
  color: #f4f2ea;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: #AA2E00;
  border: 2px solid #AA2E00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.login{right: 270px;}
.signup{right: 150px;}
.community{right: 10px;}



/*
#e4d984
#cc84e4
#e4849c
#e4c184
#9c84e4
*/