/* Home.html */
html, body{
    height: 100%;
    margin: 0;
    background-color: #84b4e4;
    font-family: 'Dosis', sans-serif;
    color: #000a39;
}

/* Title Text */
.titleText{
    /* The position */
    /*background-color: rgb(0,0,0);
    background-color: rgba(244,242,234, 0.4);*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    /* The box */
    width: 80%;
    height: 50%;
    padding: 20px;
    border-radius: 25px;

    /* The text */
    font-size: 3vw;
    text-align: center;
}

.zoom{  
    height:100vh;  
    width:100%;  
    display:grid;  
    place-items:center;  
    position:fixed;  
    top:0;  
    left:0;
}

area.hoverable
{
    fill: transparent;
    stroke:gray; /* Replace with none if you like */
    stroke-width: 4;
    cursor: pointer;
}

area.hoverable:hover
{
 stroke:black;   
}